<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - {{ sitename }}</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />

	<script type="text/javascript">
		$(document).ready(function(){
			$(".delete-link").click(function(){
				return confirm('確定刪除？');
			});
		});
	</script>

	{% block custom_head %}{% endblock %}
</head>
<body>
	<div class="container">
		<div class="content">
			<div class="page-header">
				<h1>{{ block('title') }}</h1>
			</div>

			<div class="row">
				{% if flash.isNotEmpty %}
				<div class="alert-message {{ flash.getType }}">
					<a href="#" class="close">x</a>
					<p>{{ flash.getMessage }}</p>
				</div>
				{% endif %}
				
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
